body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


/*  background-color: black; */

/*  background-image: url('../images/money.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* fill the page */
/*  background-attachment: fixed;  /* don't scroll */


}

a {
  color: #00B7FF;
}
